{% extends 'template.html' %}
{%block content%}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	{% include 'account/parts/navbar.html' %}
	{%block page_items%}
	
	{%endblock%}
	<script src="{{ url_for('static', filename='js/user_sockets.js') }}"></script>
	<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
	<script src="{{ url_for('static', filename='js/user.js') }}"></script>
	<link rel="stylesheet" type="text/css" media="screen" href=" {{ url_for('static', filename='css/profile.css', _external=True) }} " />
	<script>
			check_online()
	</script>
{%endblock%}
