<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Matcher::Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Sansita:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/NordicSans.css" />
    </head>
    <body>
        <header>
            <h1 class="context">Username</h1>
            <nav class="pa">
                <a class="context" href="#">My Profile</a>
                <a class="context" href="#">Conquest!</a>
                <a class="context" href="#">Logout</a>
                <a class="context" href="#">Messages</a>
                </nav>
        </header>
        <a href="#" class="alert warning">
            Please compleate your profile under Settings
        </a>
        <article class='note'>
            <p class="content">Your home page</p>
            <article class="tile-panel">
                <a href="#" class="content fs-P tile">My Profile</a>
                <a href="#" class="content fs-M tile" id="messages"><span class="counter">6</span>Messages</a>
                <a href="#" class="content fs-S tile">Search</a>
            </article>
        </article>
        <footer>
                Designed and build by HoninWorx, aka wgourley
        </footer>
    </body>
</html>