<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Matcher::Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Sansita:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/NordicSans.css" />
    </head>
    <body>
        <header>
            <h1 class="context">Username</h1>
            <nav class="pa">
                <a class="context" href="#">My Profile</a>
                <a class="context" href="#">Conquest!</a>
                <a class="context" href="#">Logout</a>
                <a class="context" href="#">Messages</a>
                </nav>
        </header>
        <a href="#" class="alert warning">
            Please compleate your profile under Settings
        </a>
        <article class='note'>
            <p class="content">Your profile</p>
            <article class="carosel">
                <img class="preview" src="static/12018-11-05 06:50:40.png">
                <div class="options">
                    <img src="static/12018-11-05 06:50:40.png">
                    <img src="static/22018-11-05 08:05:26.png">
                    <img src="static/32018-11-05 09:12:39.png">
                    <img src="static/42018-11-05 09:36:39.png">
                    <span class="placeholder">+<br>Add</span>
                </div>
            </article>
            <article class="list">
                <h3 class="context">Details</h3>
                <div class="li content">
                    <label>Email</label>
                    <span class="data">Email@email.com</span>
                </div>
                <div class="li content">
                        <label>Username</label>
                        <span class="data">Username</span>
                        <div class="alter">
                            <button class="ul">Edit</button>
                        </div>
                </div>
                <div class="li content">
                    <label>Location:</label>
                    <input type="text" class="data" placeholder="Location" name="alter:location:set">
                    <div class="alter">
                        <div>
                            <input type="checkbox" id="alter:location:display" class="slider" name="alter:location:display">
                            <label for="alter:location:display"><div></div></label>
                        </div>
                        <button class="ul">Save</button>
                    </div>
                </div>
                <div class="li content">
                    <label>Interesetd in: </label>
                    <select class="data">
                        <option value="men">Men</option>
                        <option value="women">Women</option>
                        <option value="both">Both</option>
                    </select>
                    <div class="alter">
                        <div>
                            <input type="checkbox" id="alter:interest:display" class="slider" name="alter:interest:display">
                            <label for="alter:interest:display"><div></div></label>
                        </div>
                        <button class="ul">Save</button>
                    </div>
                </div>
            </article>
        </article>
        <footer>
                Designed and build by HoninWorx, aka wgourley
        </footer>
    </body>
</html>