{% extends 'template.html' %}
{%block content%}
	<h2 class="context">Næmnæe félagi</h2>
	<p class="content">To the first ever Viking matchmaking service</p>
	<hr>
	<p class="content">Please login or register to continue</p>
	<form method="post" action="{{url_for('login')}}" event='{"submit":"formSubmit"}'>
		<h3 class="context">Login</h3>
		<input type="text" placeholder="Username" required name="uname">
		<input type="password" placeholder="Password" required name="password">
		<input type="submit" class="content ul" value='Login'>
		<a href="{{url_for('register')}}" class="content ul small">or Register</a>
	</form>
	<script src='https://www.google.com/recaptcha/api.js?render=6LfKuH0UAAAAAJpKGjX7auo3dbt29wtjm4_FtATC'></script>
{%endblock%}
