{% extends 'template.html' %}
{%block content%}
	<h2 class="context">Reddem your token</h2>
	<hr>
	<p class="content">Please login to continue</p>
	<form method="post" action="{{url_for('redeem', token=token)}}" event='{"submit":"formSubmit"}'>
		<h3 class="context">Login</h3>
		<input type="text" placeholder="Username" required name="uname">
		<input type="password" placeholder="Password" required name="password">
		<input type="hidden" name="form_name" value="redeem">
		<input type="submit" class="content ul" value='Redeem'>
	</form>
	<script src='https://www.google.com/recaptcha/api.js?render=6LfKuH0UAAAAAJpKGjX7auo3dbt29wtjm4_FtATC'></script>
{%endblock%}
