{% extends 'template.html' %}
{%block content%}
	<h2 class="context">Næmnæe félagi</h2>
	<p class="content">To the first ever Viking matchmaking service</p>
	<hr>
	<p class="content">Please login or register to continue</p>
	<form method="post" action="{{url_for('register')}}" event='{"submit":"formSubmit"}'>
		<h3 class="context">Register</h3>
		<input type="email" placeholder="Email" required name="email">
		<input type="text" placeholder="Username" required name="uname">
		<input type="text" placeholder="First Name" required name="fname">
		<input type="text" placeholder="Last Name" required name="lname">
		<input type="password" placeholder="Password" required name="password">
		<input type="submit" class="content ul" value='Register'>
		<a href="{{url_for('login')}}" class="content ul small">or Login</a>
		<script src='https://www.google.com/recaptcha/api.js?render=6LfKuH0UAAAAAJpKGjX7auo3dbt29wtjm4_FtATC'></script>
	</form>
{%endblock%}