<nav class="pa">
	<a class="context"  href="{{url_for('user_accounts.account_profile')}}" page="home">My Profile</a>
	<a class="context" href="{{url_for('user_accounts.account_settings')}}">Settings</a>
	<a class="context" id="messages" href="#">Messages</a>
	<a class="context" href="#">Conquest!</a>
	<a class="context" id="notifications" href="#">Alerts</a>
	<a class="context" href="#">Search</a>
	<a class="context" href="{{url_for('user_manager.logout')}}" >Logout</a>
</nav>
<script>
	msgsBTN = document.querySelector("#messages")
</script>
