<article class="carosel" data-field="images">
	<span class="ul context" id="delete_image" event='{"click" : "deleteImage"}'>Delete</span>
	{% if info.images | length >= 1 %}
		<img class="preview" src="{{ url_for('accounts.user_image', uid=info.user, id=0) }}" image_id="0">
	{% else %}
		<img class="preview empty">
	{%endif%}
	<span class="no_image">EX</span>
	<div class="options">
	{% for i in info.images %}
		<img src="{{ url_for('accounts.user_image', uid=info.user, id=loop.index0) }}" image_id="{{loop.index0}}" class="usr_img" event='{"click" : "previewImage"}'>
	{% endfor %}
	{% if info.images | length < 5 %}
		<label for='imageUpload' class="usr_img add" id="imageinput"><span>+<br>Add image</span></label>
		<input type='file' accept="image/jpeg" hidden id='imageUpload' event='{"change":"addImage"}'>
	{% endif %}
	</div>
</article>