.picon:before{
  content: attr(data-uname);
  background: rgba(25,25,25, 0.9);
  width: -moz-available;
  display: block;
  font-family: 'Sansita';
  font-size: 1.5em;
  border-bottom: rgb(255, 50, 50) 5px solid;
}

.picon.online:before{
  border-bottom: rgb(50, 255, 50) 5px solid;
}

.picon{
  height: 10em;
  width: 10em;
  border: 2px solid grey;
  position: relative;
  transition: border 0.2s;
  overflow: hidden;
  z-index: 1;
}

.picon:hover{
  border: 2px solid;
}

.picon>img{  
  position: absolute;
  object-fit: cover;
  object-position: top;
  display: block;
  z-index: -1;
  border: 2px black solid;
  opacity: 0;
  width: 20em;
  height: 20em;
  left: -5em;
  top: -5em;
  transition: opacity 0.5s, border 0.2s, width 0.2s, height 0.2s, left 0.2s, top 0.2s;
  
}

.picon:hover>img{
  width: 10em;
  height: 10em;
  left: 0;
  top: 0;
}


.picon>img.show{
  opacity: 1;
}

.user.card{
  display: flex;
  margin: 1em;
  background-color: rgb(0,0,0, 0.5);
  padding: 1em;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  width: -moz-available;
}

.user.card>.meta{
  width: -moz-available;
  display: block;
  text-align: left;
}

.user.card>.meta>button{
  width: 5em;
  margin: 1em 1em;
}

@media screen and (max-width: 730px){
 .user.card>.meta>button{
    width: -moz-available;
    margin: 1em 1em;
  } 
}

[data-watermark]:before{
  content: attr(data-watermark);
  position: absolute;
  font-family: "NordicSans";
  width: -moz-min-content;
  font-size: 5em;
  z-index: -2;
  display: block;
  left: 0%;
  top: 0%;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.1;
}

.user.card>.picon{
  margin: auto;
}

.user.card>.details{
  flex: 1;
  display: block;
  margin: auto;
  min-width: -moz-fit-content;
}

.user.card>.details>*{
  display: block;
  width: -moz-fit-content;
  font-family: 'Sansita';
  margin: 0.8em auto;
}

.user.card>.details>p{
  width: 50%;
  min-width: 400px;
}

.user.card>.details>span>span{
  padding: 0.5em;
  background-color: rgb(20, 20, 20, 0.5);
}