#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#results>a{
    margin: auto;
}

[data-label]:before{
    font-family: "Sansita";
    content: attr(data-label);
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
}

[data-value]:after{
    content: attr(data-value);
    position: absolute;
    display: block;
    height: 0px;
    left: 100%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-family: "Sansita";
}

[data-value]{
    position: relative;
}

#search>ul{
    list-style: none;
    max-width: fit-content;
    margin: 1em auto;
    padding: 0;
}

#search>ul>li{
    display: flex;
    text-align: center;
    margin: 0.25em;
}