.setting-list{
  display: flex;
  flex-direction: column;
}

.saveBTN{
  display: block;
  opacity: 0;
  margin: auto;
  font-size: 1.5em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
  overflow: hidden;
  transition: max-height 1s, margin 1s, opacity 1s;
  max-height: 0px;
}

.saveBTN.show{
  opacity: 1;
  max-height: 100px;
  margin: 0.5em auto;
}

.card{
  display: inline-block;
  overflow: hidden;
  background-color: rgb(50,50,50);
  flex-wrap: wrap;
  width: -moz-available;
  flex: 1;
  margin: 1em auto;
  position: relative;
}

.card>div{
  text-align: left;
  padding-left: 1em;
}

.card label{
  padding-left: 1em;
  font-family: 'Sansita', sans-serif;
}

.card>label{
  font-size: 1.25em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card>label:before{
  content: "SETTINGS";
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-family: "NordicSans";
  color: rgb(60,60,60);
  z-index: -1;
  font-size: 2em;
}

.card>.card{
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  width: -moz-fit-content;
}

.carosel>.preview{
  max-height: 500px;
  width: auto;
  margin: auto;
  height: -webkit-fill-available;
}

.carosel>.options{
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    overflow: hidden;
}

.carosel{
  position: relative;
}

.carosel>.options>.usr_img{
    width: -moz-available;
    width: -webkit-fill-available;
    max-height: 10em;
    z-index: 0;
    position: relative;
    flex: 1;
    min-width: 20%;
    object-fit: cover;
}

.carosel>.options>label.usr_img.add{
    border: 0.2em grey dashed;
    display: block;
    height: -webkit-fill-available;
    order: 6;
}

.carosel>.options>label.usr_img.add>span{
  font-size: 2em;
  display: block;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#delete_image{
 display: block;
 font-weight: 900;
 font-size: 1.5em;
 padding: 0.25em;
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 margin: auto;
 opacity: 0.5;
 background-color: #8a7676;
 transition: opacity 0.2s, background-size 1s, background-color 0.2s;
}

#delete_image:hover{
  opacity: 1;
  background-color: #ff0000;
  background-size: 100%;
}
