{% extends 'account/template.html' %}
{%block page_items%}
    {% include 'account/parts/user_card.html' %}
    {% if not showMeta %}
        <h2>Viewed by</h2>
        {% for i in page.viewed_by %}
            {% set item=resolve_user(i) %}
            {% set iteminfo=resolve_info(item.details) %}
            <a href="{{url_for("user_accounts.account_profile", profile=item.uname)}}">
            {% include 'account/parts/profile_icon.html' %}
        </a>
        {% endfor %}
        <h2>Liked by</h2>
        {% for i in page.liked_by %}
            
            {% set item=resolve_user(i) %}
            {% set iteminfo=resolve_info(item.details) %}
            <a href="{{url_for("user_accounts.account_profile", profile=item.uname)}}">
            {% include 'account/parts/profile_icon.html' %}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}