{% extends 'template.html' %}
{%block content%}
    {% include 'account/parts/navbar.html' %}
    {% include 'search/parts/search.html' %}
    {%block page_items%}
        
    {%endblock%}
    <link rel="stylesheet" type="text/css" media="screen" href=" {{ url_for('static', filename='css/profile.css', _external=True) }} " />
    <link rel="stylesheet" type="text/css" media="screen" href=" {{ url_for('static', filename='css/search.css', _external=True) }} " />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='js/user_sockets.js') }}"></script>
{% endblock %}