{% extends 'template.html' %}

{%block content%}
<p class="content">Your profile</p>
<article class="tile-panel" id="dash">
	<div class="profile_banner">
		<span id="page_views" class="telemetry">{{telemetry._viewers | length}}</span>
		{% include "pages/profile_icon.html" %}
		<span id="fame_rating" class="telemetry">{{telemetry.fame() | int}}</span>
	</div>
	<div  id="stats" watermark="{{user.uname.upper()}}">
		<h3 class="context">{{user.uname}}</h3>
		{% set item = user.info %}
		{% include "pages/field_display.html" %}
	</div>
</article>
<article>
	<h3 class="context">Views</h3>
	<div class="meta">
		<div>
			<button class="ul" event='{"click" : "showMeta"}' data-tag="page_views">Visiting Users</button>
			<button class="ul" event='{"click" : "showMeta"}' data-tag="view_history">Visit history</button>
			<button class="ul" event='{"click" : "showMeta"}' data-tag="liked_users">Likes</button>
		</div>
		<div class="display empty">
		</div>
		<div class="no_">UG</div>
	</div>
</article>
<script>
	var metaDisplay = document.querySelector(".meta>.display")
	function showMeta(event){
		metaDisplay.classList.add("empty")
		metaDisplay.innerHTML = ""
		transmit(document.location, { tag : event.target.getAttribute("data-tag") }, "meta").then(
			f => {
				if(f.status != "JOY"){
					metaDisplay.classList.add("empty")
					return translate(f)
				}
				metaDisplay.setAttribute("data-display", event.target.innerHTML)
				f.items.forEach(i => {
					elm = document.createElement("a")
					elm.href = "/user/"+i.uname
					elm.classList.add("status_"+i.online)
					img = new Image()
					img.src = "/image/"+i.info.images[0]
					elm.appendChild(img)
					nt = document.createElement("span")
					nt.innerHTML = i.uname
					elm.appendChild(nt)
					metaDisplay.appendChild(elm)
				})
				metaDisplay.classList.remove("empty")
			}
		)
	}
</script>
{% endblock %}
