{% extends 'template.html' %}

{%block content%}
<p class="content">Your profile</p>
<article class="tile-panel" id="dash">
	<div class="profile_banner">
		<span id="page_views" class="telemetry">{{user.telemetry.viewdBy | length}}</span>
		{% include "pages/profile_icon.html" %}
		<span id="fame_rating" class="telemetry">{{user.telemetry.fame() | int}}</span>
	</div>
	<div  id="stats" watermark="{{user.uname.upper()}}">
		<h3 class="context">{{user.uname}}</h3>
		{% set item = user.info %}
		{% include "pages/field_display.html" %}
	</div>
</article>
<article>
	<h3 class="context">Views</h3>
	<div id="viewers" class="{{'empty' if not user.telemetry.viewdBy else ""}}">
		{% for user in user.telemetry.viewers %}
			{% include "pages/profile_tile.html" %}
		{% endfor %}
	</div>
	<div class="no_views">UG</div>
</article>
{% endblock %}
