{% extends 'template.html' %}

{%block content%}
<p class="content">Your profile</p>
<article class="tile-panel" id="dash">
	<div class="profile_banner">
		<span id="page_views" class="telemetry">{{user.telemetry.viewdBy | length}}</span>
		{% include "pages/profile_icon.html" %}
		<span id="fame_rating" class="telemetry">{{user.telemetry.fame() | int}}</span>
	</div>
	<div  id="stats" watermark="{{user.uname.upper()}}">
		<h3 class="context">{{user.uname}}</h3>
		<div><button>Like</button></div>
		{% set item = user.info %}
		{% include "pages/field_display.html" %}
	</div>
</article>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}

{% block navbar %}
	 {%include "pages/navbar.html" %}
{% endblock %}