{% extends 'template.html' %}


	{% block loadMessage %}
		{% if not user.complete %}
			You will need to complete your account before preceeding
		{% endif %}
	{% endblock %}

{%block content%}
<article class="carosel">
	{% if user.info.imageCount >= 1 %}
		<img class="preview" src="{{ url_for('getUserImage', fn=user.info.images[0]) }}">
	{% else %}
		<img class="preview empty">
	{%endif%}
	<span class="no_image">EX</span>
	<div class="options">
	{% for i in user.info.images %}
		<img src="{{ url_for('getUserImage', fn=i) }}" class="usr_img" event='{"click" : "previewImage"}'>
	{% endfor %}
	{% if user.info.imageCount < 5 %}
		<label for='imageUpload' class="usr_img add" id="imageinput">+<br>Add image</label>
		<input type='file' accept="image/jpeg" hidden id='imageUpload' event='{"change":"addImage"}'>
	{% endif %}
	</div>
</article>

<article class="list">
	<h3 class="context">General userrmation</h3>
	{% set item = user.info %}
	{% set type = "info" %}
	{% include "pages/field_edit.html" %}
</article>

<article class="list">
	<h3 class="context">Account userrmation</h3>
	{% set item = user %}
	{% set type = "user" %}
	{% include "pages/field_edit.html" %}
</article>
<script src='https://www.google.com/recaptcha/api.js?render=6LfKuH0UAAAAAJpKGjX7auo3dbt29wtjm4_FtATC'></script>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}

{% block navbar %}
	 {%include "pages/navbar.html" %}
{% endblock %}