{% extends 'template.html' %}


	{% block loadMessage %}
		{% if not user.complete %}
			You will need to complete your account before preceeding
		{% endif %}
	{% endblock %}

{%block content%}
<article class="carosel">
	{% if user.imageCount >= 1 %}
		<img class="preview" src="{{ url_for('getUserImage', fn=user.images[0]) }}">
	{% else %}
		<img class="preview empty">
	{%endif%}
	<span class="no_image">EX</span>
	<div class="options">
	{% for i in user.images %}
		<img src="{{ url_for('getUserImage', fn=i) }}" class="usr_img" event='{"click" : "previewImage"}'>
	{% endfor %}
	{% if user.imageCount < 5 %}
		<label for='imageUpload' class="usr_img add" id="imageinput">+<br>Add image</label>
		<input type='file' accept="image/jpeg" hidden id='imageUpload' event='{"change":"addImage"}'>
	{% endif %}
	</div>
</article>

<article class="list">
	<h3 class="context">General userrmation</h3>
	{% for field in user.fields %}
		<div class="li content">
			<label>{{field.label}}</label>
			{{field.render(user) | safe}}
			<button data-type='user' data-id="{{loop.index0}}" class='ul' event='{"click" : "saveField"}'>Save</button>
		</div>
	{% endfor %}
</article>

<article class="list">
	<h3 class="context">Account userrmation</h3>
	{% for field in user.parent(user).fields %}
		<div class="li content">
			<label>{{field.label}}</label>
			{{field.render(user) | safe}}
			<button class='ul' event='{"click" : "saveField"}' data-type='user' data-id="{{loop.index0}}">Save</button>
		</div>
	{% endfor %}
</article>
<script src='https://www.google.com/recaptcha/api.js?render=6LfKuH0UAAAAAJpKGjX7auo3dbt29wtjm4_FtATC'></script>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}

{% block navbar %}
	 {%include "pages/navbar.html" %}
{% endblock %}