{% extends 'template.html' %}

{%block content%}
<p class="content">Your profile</p>
<article class="tile-panel" id="dash">
	<div class="profile_banner">
		<span id="page_views" class="telemetry">{{user.telemetry._viewers | length}}</span>
		{% include "pages/profile_icon.html" %}
		<span id="fame_rating" class="telemetry">{{user.telemetry.fame() | int}}</span>
	</div>
	<div  id="stats" watermark="{{user.uname.upper()}}">
		<h3 class="context">{{user.uname}}</h3>
        <span class="error" error="You have blocked this user, unblock to proceed">OX</span>
        <div><button class="ul alert notok" event='{"click" : "unblock"}'>Unblock</button></div>
	</div>
</article>
<script>
	const likeBTN = document.querySelector("#like")
</script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
