html{
    background-color: rgb(105, 105, 105);
}

body{
    max-width: 900px;
    margin: auto;
    background-color: RGBA(0, 0, 0, 0.1);
    min-height: 100vh;
    color: white;
}

header{
    background-color: RGBA(0, 0, 0, 0.5);
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    position: sticky;
    text-align: center;
    color: white;
}

header>h1{
    
    font-size: 4em;
}

h1, h2{
    display: flex;
    margin: 0.5em auto;
    background-color: RGBA(0, 0, 0, 0.5);
}

h1:before, h1:after, h2:before, h2:after{
    display:block;
    content: "";
    background-image: URL(../img/endcap.svg);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}
h1:after, h2:after{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

article{
    text-align: center;
}

.content{font-family: 'Montserrat Alternates', sans-serif;}
.context{font-family: 'Sansita', sans-serif;}

nav>a{
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 1em;
    background-color: RGBA(0, 0, 0, 0.1);
}

.ul{
    height: 1em;
    content: "";
    background-image: URL(../img/ul.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #797878;
    background-blend-mode: exclusion;
    transition: background-color 0.2s;
}

.ul:hover{
    background-color: #b1b1b1;
}

@media screen and (max-width: 900px){
    body{
        width: initial;
    }
}