<form id="search">
    <div data-label="Search for username:">
        <input type="text" name="uname" placeholder="e.g. Catfoot" value="{{uname if uname}}">
    </div>
    <div data-label="Age gap:" data-value="{{ 'Unset' if age_gap and age_gap | int < 0 else age_gap }}">
        <input type="range" min="-1" name="age_gap" max="20" value="{{age_gap if age_gap else -1}}"  event='{"input":"sliderUpdate"}'>
    </div>
    <div data-label="Fame rating:" data-value="{{ 'Unset' if fame and fame | int < 0 else fame }}">
            <input type="range" min="-1" max="100" value="{{ -1 if not fame else fame }}"  name="fame" event='{"input":"sliderUpdate"}'>
    </div>
    <div data-label="Location:">
        {% set region, city = list_regions() %}
        <input type="text" name="location_region" value="{{ location_region if location_region }}" list="location_region" placeholder="Region">
        <datalist id="location_region">
                {% for c in region %}
                    {% if c %}
                    <option value="{{c}}">
                    {% endif %}
                {% endfor %}
        </datalist>
        <input type="text" name="location_city" value="{{ location_city if location_city }}" list="location_city" placeholder="City">
        <datalist id="location_city">
                {% for c in city %}
                    {% if c %}
                    <option value="{{c}}">
                    {% endif %}
                {% endfor %}
        </datalist>
    </div>
    <div data-label="Tags:">
        <input type="text" list="tags" placeholder="Tags are to be sepperated with ','" event='{"keyup":"tagEventListner"}'>
        <datalist id="tags">
                {% for c in get_all_tags() %}
                    {% if c %}
                    <option value="{{c}}">
                    {% endif %}
                {% endfor %}
        </datalist>
        <input type="hidden" id="tagsHolder" name="tags" value="{{tags if tags}}">
        <div id="taglist">{% if tags %}{% for i in tags.split(", ") %}
                <span event='{"click" : "tagRemove"}'>{{i}}</span>
            {%endfor%}{% endif %}</div>
        </div>
    </div>
    <ul data-label="Sort by:">
        <li>
            <input type="radio" name="sort_by" value="Name" {{"checked" if sort_by == 'Name'}}>Name
        </li>
        <li>
            <input type="radio" name="sort_by" value="Age gap" {{"checked" if sort_by and sort_by == 'Age gap'}}>Age gap
        </li>
        <li>
            <input type="radio" name="sort_by" value="Fame" {{"checked" if sort_by and sort_by == 'Fame'}}>Fame
        </li>
        <li>
            <input type="radio" name="sort_by" value="Location" {{"checked" if sort_by and sort_by == 'Location'}}>Location
        </li>
    </ul>
    <input type="submit" value="Search">
</form>
